body{
	font-family: 'Roboto', sans-serif;
	background-color: #eee;
}

#container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 10px;
}

#container div {
	border: 2px solid black;
	margin-bottom: 5px;
	padding: 10px;
}

.yellow {
	background-color: yellow;
}

.red {
	background-color: red;
}

#card {
	grid-row: 2;
	grid-column: 1;
}

button {
	margin-bottom: 5px;
	padding: 5px 8px;
	background-color: lightblue;
}

.special.green {
	color: green;
	font-weight: 900;
}

.large-font {
	font-size: 18px;
}